/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
* {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500; /* normal */
 }


 /* NAVIGATIE */

  nav{
 display: grid;
    grid-column-start: 1;
  grid-column-end: 3;
}

